## Libraries Required

In [1]:
import re
import time
import json
import requests
import numpy as np
import pandas as pd

In [2]:
url = 'https://recruitment.aimtechnologies.co/ai-tasks'

In [3]:
df= pd.read_csv("dialect_dataset.csv")

In [4]:
df.sample(5)

                         id dialect
394396  1038779788247420800      SD
15307    934831519096557568      IQ
237888  1186036848155648000      DZ
176173  1094279698887000064      JO
430238   369725373279662080      AE

In [5]:
print("DataFrame Shape:",df.shape,"\n")
print("  DataFrame Info (1)","\n","-"*20)
df.info()
print("")
dfCopy=df.copy()
dfCopy["id"]=dfCopy["id"].apply(str)

print("  DataFrame Info (2)","\n","-"*20)
dfCopy.info()

DataFrame Shape: (458197, 2)

  DataFrame Info (1)
 --------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
id         458197 non-null int64
dialect    458197 non-null object
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

  DataFrame Info (2)
 --------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
id         458197 non-null object
dialect    458197 non-null object
dtypes: object(2)
memory usage: 7.0+ MB

In [7]:
def roundUpToMultiple(number, multiple):
    num = number + (multiple - 1)
    return num - (num % multiple)

In [7]:
s=time.time()
start=0
end=1000
tweetsList=[]
while end <= roundUpToMultiple(dfCopy.shape[0], 1000):
    ids=dfCopy["id"][start:end].tolist()
    r = requests.post(url,data=json.dumps(ids))
    # print(r.status_code, r.reason)
    dict_data=r.json()
    for key,value in dict_data.items():
        tweetsList.append(value)
    start+=1000
    end+=1000
e=time.time()
print((e-s)/60,"  Minutes")

10.286968398094178   Minutes

In [8]:
dfCopy["tweets"]=tweetsList

In [9]:
dfCopy.sample(5)

,id,dialect,tweets
128296,866760800509337600,SY,@ma74des ØªØ³Ù„Ù… Ø§Ù„Ù„Ù‡ ÙŠØ±ÙØ¹ Ù‚Ø¯Ø±Ùƒ ğŸ’
215707,1132652769050017792,SA,@K_ibraheem @aboalnemr1 Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡Ù‡ Ù„Ø¤ÙŠ Ù…ÙŠÙ† Ø¯Ø§ ...
281166,1071224043989336064,EG,#Ø§Ù„Ø²Ù…Ø§Ù„Ùƒ_Ø¹Ø§Ù‡Ø±Ù‡_Ø§ÙØ±ÙŠÙ‚ÙŠØ§\nÙˆØ§Ù„Ù„Ù‡ Ø§Ø­Ù†Ø§ Ø§Ù„Ù„ÙŠ Ø¹Ù…Ù„Ù†Ø§Ù„...
280524,1166846957442228224,EG,@dandrawy_hawary Ø­Ù…Ø§Ø¯Ù‡ Ø§Ù…Ø§Ù… ÙˆÙ…ÙŠÙ…ÙŠ Ø§Ù„Ø´Ø±Ø¨ÙŠÙ†ÙŠ ØŒ ...
55012,1039102861366493184,QA,@Kafalsaud78 @Moh_SA00 Ù…Ø±Ø© ÙˆØ­Ø¯Ø© Ù£ Ù…Ù„ÙŠÙˆÙ† Ø±ÙŠØ§Ù„ ...

In [10]:
print("DataFrame Shape:",dfCopy.shape,"\n")
print("  DataFrame Info","\n","-"*20)
dfCopy.info()
print("")

DataFrame Shape: (458197, 3)

  DataFrame Info
 --------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 3 columns):
id         458197 non-null object
dialect    458197 non-null object
tweets     458197 non-null object
dtypes: object(3)
memory usage: 10.5+ MB

In [11]:
dfCopy[dfCopy.isnull().any(axis=1)]

Empty DataFrame
Columns: [id, dialect, tweets]
Index: []

In [12]:
dfCopy.to_csv('fetchingTweets_dialect_dataset.csv', encoding='utf-8',index = None, header=True)

__________________________________________________________________________________________________________________________